
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/next-env.d.ts
frontend/*.tsbuildinfo
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# Logs and debugs for frontend
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

backend/*.exe
backend/pocketbase
backend/*.zip
backend/*.tar.gz


backend/pb_data/*.log
backend/pb_data/backups/
backend/pb_data/local_*.db


.DS_Store
Thumbs.db
*.pem
.env*
.vercel